/* Books */
p a {color:#1A1A1A; text-decoration:underline;}
h3 {margin:20px 0 15px;}
h3,
.book-menu h2 a {color:#333; font-size:37px; line-height:37px;}

.main .nav-tab {top:0 !important;}

.books .container {padding:50px 30px;}
.books h1 {margin:0 0 40px;}

.book-menu hr {margin-bottom:50px;}
.book-menu .info h2 {margin-bottom:0;}
.book-menu .info h2 a:hover {text-decoration:none;}
.book-menu .info p {margin-bottom:20px;}
.book-menu .info .box-button {margin-top:0;}
.book-menu .info .summary,
.book .summary {color:#4a4a4a; display:block; font-style:italic; margin-bottom:20px;}

.category-books h3 {color:#333333; font:38px/46px din-light, helvetica, arial; margin-bottom:10px; text-transform:uppercase;}
.formats h2 {color:#333333; font:26px/32px din-light, helvetica, arial; margin-bottom:10px; text-transform:uppercase;}
.formats .format {border-bottom: 1px dotted #999; display:block; margin-bottom:20px; padding-bottom:40px;}
.formats .format-image {float:left; width:200px;}
.formats .format-info {float:left; width:750px;}
.formats h3 {margin:10px 0 10px;}
.formats .format .buy-book select {margin:15px 0 10px;}
.formats .format .buy-book input[type=image] {margin:10px 0;}

.book h1 {margin-bottom:10px;}

.further-reading ul {margin-bottom:20px;}
.further-reading ul li a {color:#333;}
.further-reading ul li a:after {content:" \BB \ ";}

/* Media Queries */
@media (max-width:480px) {

}

@media (max-width:767px) {
	.formats .format-info {margin-top:20px; width:100%;}
}

@media (min-width:768px) and (max-width:979px) {
	.formats .format-info {width:350px;}
}

@media (min-width:1200px) {

}

@media (min-width:1230px) {

}

@media (min-width:1600px) {

}