/* Home */
.head-bar {margin-bottom:20px;}
.head-bar .view-all {background:url('../images/button/arrow-right.png') no-repeat right 6px; color:#252525; font:18px din-light, sans-serif;}

.tabs li {background:#f4f4f4; border:1px solid #ccc; cursor:pointer; display:inline-block; float:left; font:20px din-light, sans-serif; padding:5px 10px 3px;}
.tabs li:first-child {border-right:0;}
.tabs li.active,
.tabs li:hover {background:#fff;}
.tabs li.active {cursor:default;}

.tab-row {display:none;}
.tab-row.active {display:block;}

/* Media Queries */
/* Phone - Vertical */
@media (max-width:480px) {
	.head-bar .view-all {display:block; margin-top:5px;}
}

/* Phone - Horizontal */
@media (max-width:767px) {

}

/* Tablet - Vertical */
@media (min-width:768px) and (max-width:979px) {

}

/* Phone & Tablet */
@media (max-width:979px) {
	.tabs li {font-size:18px;}
}

/* Tablet - Horizontal */
@media (min-width:979px) and (max-width:1200px) {

}

/* Small Browser */
@media (min-width:1200px) {
	.tabs {display:inline-block; float:left;}
	.head-bar .view-all {float:right; padding-right:14px;}
}

/* Large Browser */
@media (min-width:1600px) {

}