/* Page */
.page h2 {margin-bottom:10px; text-transform:uppercase;}
.page iframe {margin:30px 0;}

/* More */
.category-more .gallery {width:1230px;}
.category-more iframe {display:block; margin:0;}
.category-more .container {margin-top:0;}


/* Phone - Vertical */
@media (max-width:480px) {
	
}

/* Phone - Horizontal */
@media (max-width:767px) {
}

/* Tablet - Vertical */
@media (min-width:768px) and (max-width:979px) {
}

/* Tablet - Horizontal */
@media (min-width:979px) {

}

/* Small Browser */
@media (min-width:1200px) {
	
}

/* Large Browser */
@media (min-width:1600px) {

}

