/* Recommended */
.ymal li {list-style:decimal; margin-left:25px; padding:5px 0 5px 20px;}
.ymal a {color:#1a1a1a; font-size:18px;}

.next-previous {margin:30px 0; position:relative;}
.next-previous div {display:inline-block;}
.next-previous div a {color:#1a1a1a;}
.next-previous .next {position:absolute; right:0;}
.next-previous span {display:inline-block;}
.next-previous em {color:#999999;}
.next-previous .previous span {margin-right:10px;}
.next-previous .next span {margin-left:10px;}
