/* Quotes */
blockquote,
blockquote p,
blockquote a {font-size:18px; line-height:30px; font-style:italic;}

blockquote,
blockquote p {color:#8d8d8d; display:block; margin:10px 0 30px;}

blockquote a {color:#005580;}

blockquote span,
blockquote em {clear:both; display:block; font:14px Arial, Helvetica, sans-serif; line-height:30px; margin-left:30px; color:#999999;}

address {display:block; margin-bottom:20px; line-height:20px; font-style:normal;}
small {font-size:100%;}
cite {font-style:normal;}


/* Utility Classes */
.arrow-link {background:url('../images/button/arrow-right.png') no-repeat right center; color:#272727; font-size:14px; font-style:italic; padding-right:12px;}
.bottom {border-bottom:0 !important;}
.clear {clear:both;}
.excerpt {color:#191919; display:block; font-size:15px; font-style:italic; line-height:22px;}
.hidden {display:none; visibility:hidden;}
.hide-text {background-color:transparent; border:0; color:transparent; font:0/0 a; text-shadow:none;}
.lead {margin-bottom:20px; font-size:20px; font-weight:200; line-height:30px;}
.top {margin-top:0;}

/* Elastic Videos */
.fluid-width-video-wrapper {margin:20px 0;}

/* Utility Blocks */
.assistive-text {position:absolute !important; clip:rect(1px 1px 1px 1px); /* IE6, IE7 */}
.access a.assistive-text:active,
.access a.assistive-text:focus {background:#eee; border-bottom:1px solid #ddd; color:#1982d1; clip:auto !important; font-size:12px; position:absolute; text-decoration:underline; top:0; left:7.6%;}

.clearfix, .subscribe, .container {*zoom:1;}
.clearfix:before, .subscribe:before, .container:before,
.clearfix:after, .subscribe:after, .container:after {display:table; content:"";}
.clearfix:after, .subscribe:after, .container:after {clear:both;}

.post-date {margin-top:20px;}
.post-date a:hover {text-decoration:none;}
.post-date .month,
.post-date .year {color:#d2d2d2; display:block; font:45px/40px din-light, helvetica, arial;}

/* Category List */
.post-categories li {display:inline-block; float:left; margin:0 7px 7px 0;}
.post-categories li a {border:1px solid #cfcfcf; color:#333; display:block; font:bold 11px Arial, Helvetica, sans-serif; padding:4px 10px; text-transform:uppercase;}
.post-categories li a:hover,
.post-categories li a.current {border:1px solid #333; color:#000; text-decoration:none;}
.post-categories li a.current {cursor:default;}

/* Next Previous Links */
.next-previous {margin:30px 0; position:relative;}
.next-previous div {display:inline-block;}
.next-previous div a {color:#1a1a1a;}
.next-previous .next {position:absolute; right:0;}
.next-previous .previous a,
.next-previous .previous span {float:left;}
.next-previous .next span,
.next-previous .next a {float:right; text-align:right;}
.next-previous span {display:inline-block;}
.next-previous em {color:#999999;}

/* List of Posts */
.posts {background-color:#fff;}
.posts .post-thumb {height:175px; margin-bottom:20px;}

.post-thumb {display:block; overflow:hidden; position:relative;}
.post-thumb span {background:url("../images/background/dark.png"); bottom:0px; color:#fff; font:18px din-light, sans-serif; left:0px; padding:5px 10px; position:absolute; width:100%;}
.post-thumb:hover span {background:url("../images/background/darker.png"); opacity:0.8;}

.link-list {margin-bottom:100px;}
.link-list li {display:inline-block;}
.link-list li a {color:#1a1a1a; font-size:18px; line-height:28px;}
.link-list li a:after {content:" \BB \ ";}
.link-list.one-column li {display:block;}


/* Pagination */
.wp-paginate {margin:0 0 30px 0 !important;}
.wp-paginate .current {background:#333 !important; border:1px solid black !important;}


.main .excerpt {height:105px; margin:15px 0; overflow:hidden;}

article .meta {display:block; font-style:italic; margin-bottom:30px;}

.content .searchform {margin-top:30px;}

.subscribe {display:block;}
.subscribe input[type="text"] {border:1px solid #d0d0d0; color:#797979; float:left; font-size:11px; padding:6px 5px 5px;}
.subscribe input[type="submit"] {background:#1a1a1a; border:none; color:#fff; float:left; font-family:din-light, helvetica, arial; height:27px; line-height:27px;}

/* Responsive Visibility */
.visible-phone {display:none;}
.visible-tablet {display:none;}
.hidden-desktop {display:none;}
.visible-desktop {display:inherit;}

/* Phone - Vertical */
@media (max-width:480px) {
	.main .excerpt {margin:15px 0 30px;}
}

/* Phone - Horizontal */
@media (max-width:767px) {
	.hidden-desktop {display:inherit;}
	.visible-desktop {display:none;}
	.visible-phone {display:inherit;}
	.hidden-phone {display:none;}

	.post-thumb span {font-size:18px; line-height:26px; padding:5px 3%;}

	.posts .post-thumb {height:auto; max-width:500px;}
	.post-thumb span {width:94%;}

	.recent .post-thumb,
	.best .post-thumb {height:auto; max-width:500px;}
	.recent .post-thumb span,
	.best .post-thumb span {width:94%;}

	.next-previous div {width:100%;}
	.next-previous .previous {margin-bottom:20px;}
	.next-previous .next {position:static;}
	.next-previous div a,
	.next-previous div span{display:block; float:none; width:100%;}

	.link-list.two-column li,
	.link-list.three-column li {display:block;}

	.subscribe input[type="text"] {width:120px;} 
}

/* Tablet - Vertical */
@media (min-width:768px) and (max-width:979px) {
	.hidden-desktop {display:inherit;}
	.visible-desktop {display:none;}
	.visible-tablet {display:inherit;}
	.hidden-tablet {display:none;}

	.post-thumb span {font-size:14px; line-height:18px; padding:5px 7px;}

	.posts .post-thumb {height:110px;}
	.posts .post-thumb span {width:152px;}

	.recent .post-thumb,
	.best .post-thumb {height:152px;}
	.recent .post-thumb span,
	.best .post-thumb span {width:214px;}

	.next-previous div {width:250px;}
	.next-previous .previous a {width:160px;}
	.next-previous .previous span {width:90px;}
	.next-previous .next a {width:190px;}
	.next-previous .next span {width:60px;}

	.link-list.two-column li,
	.link-list.three-column li {float:left; margin-right:2%; width:48%;}

	.subscribe input[type="text"] {width:230px;}
}

/* Small Browser */
@media (min-width:979px) {
	.post-thumb span {font-size:15px; line-height:20px; padding:5px 7px;}

	.posts .post-thumb {height:110px;}
	.posts .post-thumb span {width:196px;}
	
	.recent .post-thumb,
	.best .post-thumb {height:192px;}
	.recent .post-thumb span,
	.best .post-thumb span {width:276px;}

	.next-previous div {width:330px;}
	.next-previous .previous a {width:240px;}
	.next-previous .previous span {width:90px;}
	.next-previous .next a {width:270px;}
	.next-previous .next span {width:60px;}

	.link-list.two-column li {float:left; margin-right:2%; width:48%;}
	.link-list.three-column li {float:left; margin-right:2%; width:31%;}

	.subscribe input[type="text"] {width:230px;}
}

/* Small Browser */
@media (min-width:1200px) {
	.post-thumb span {font-size:18px; line-height:26px; padding:5px 10px;}

	.posts .post-thumb {height:175px;}
	.posts .post-thumb span {width:250px;}
	
	.recent .post-thumb,
	.best .post-thumb {height:245px;}
	.recent .post-thumb span,
	.best .post-thumb span {width:350px;}

	.next-previous div {width:400px;}
	.next-previous .previous a {width:310px;}
	.next-previous .previous span {width:90px;}
	.next-previous .next a {width:340px;}
	.next-previous .next span {width:60px;}

}

/* Large Browser */
@media (min-width:1600px) {

}
