/* Categories */

/* Blog */
.category-blog .entry-content {height:590px; overflow:hidden; position:relative;}

.main .continue-reading {border-top:1px dotted #ccc; display:block; margin-top:40px;}
.main .continue-reading span {background:url('../images/button/continue-reading.png') no-repeat; display:block; height:64px; margin:-20px auto 0; text-indent:-9999px; width:136px;}

.category-filter {margin-top:20px;}
.category-filter h3 {font-size:14px;}

.wrapper {background:url('../images/icon/loading.gif') no-repeat center 70px; margin-top:20px;}

/* Phone - Vertical */
@media (max-width:480px) {
	
}

/* Phone - Horizontal */
@media (max-width:767px) {
}

/* Tablet - Vertical */
@media (min-width:768px) and (max-width:979px) {
}

/* Tablet - Horizontal */
@media (min-width:979px) {

}

/* Small Browser */
@media (min-width:1200px) {
	
}

/* Large Browser */
@media (min-width:1600px) {

}